@font-face {
    font-family: 'MinecraftFont';
    src: url('fonts/minecraftia.ttf') format('truetype');
    /* Add other formats like .woff2 or .woff for broader browser support */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MinecraftFont', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    background-color: #9AB595;
    padding: 800px 0;
    overflow: hidden;
}

.envelope-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.envelope {
    width: 824px;
    height: 588px;
    border-top: 300px solid transparent;
    border-left: 412px solid #F8F3E9;
    border-right: 412px solid #F8F3E9;
    border-bottom: 294px solid #F8F3E9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.flap-wrapper {
    width: fit-content;
    height: fit-content;
}

.flap {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 412px solid transparent;
    border-right: 412px solid transparent;
    border-top: 350px solid #F6E9D0;
    transform-origin: top center;
    transition: transform 0.6s ease;
    z-index: 2;
}

.heart-sticker {
    position: absolute;
    left: 50%;
    top: -20px;
    width: 80px;
    transform: translateX(-55%);
    z-index: 3;
    cursor: pointer;
}

.envelope-wrapper.open {
    cursor: default;
}

.envelope-wrapper.open .flap {
    transform: rotateX(180deg);
    z-index: 1;
    transition: transform 0.6s ease, z-index 0s;
}

.letter-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.6s ease;
    z-index: 0;
}

.envelope-wrapper.open .letter-container {
    transform: translate(-50%, -100px);
    z-index: 1;
    transition: transform 0.6s ease, z-index 0s;
    cursor: default;
}

.letter {
    width: 700px;
    height: 500px;
    background-color: #FDF8EC;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease;
    z-index: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.click {
    font-size: 10px;
    color: red;
    position: relative;
    top: -20px;
    animation: throb 1.5s infinite;
    opacity: 100%;
}

.letter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.letter-container.show {
    z-index: 4 !important;
}

.letter-container.show .letter {
    transform: scale(1.5);
    transition: transform 0.6s ease;
    z-index: 10;
    cursor: default;
}

.letter-container.show .click {
    opacity: 0%;
}

.avatar-a {
    max-width: 100px;
    height: auto;
    object-fit: contain;
}

.avatar-l {
    max-width: 120px;
    height: auto;
}

.heart-insert {
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: throb 1s ease-in-out 1s infinite;
}

@keyframes throb {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.letter-imgs {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}

.front-flap {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 412px solid transparent;
    border-right: 412px solid transparent;
    border-top: 350px solid #F6E9D0;
    z-index: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal.open {
    display: flex;
}

.froggy-img {
    max-width: 300px;
    max-height: 300px;
    animation: enlarge 0.6s ease;
    cursor: pointer;
}

@keyframes enlarge {
    from {
        transform: scale(.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}